.login-card {
  width: 500px;
  text-align: center;
}

.post-card {
  max-width: 880px;
  text-align: center;
}

.is-micro {
  padding: 1.5rem 0.75rem;
}

.card-center-title {
  justify-content: center;
}

.card-header {
  box-shadow: initial;
}

.input-button {
  margin: 10px 0;
}

.input-textarea {
  height: 120px;
}

#nav-link {
  margin: 0 auto;
}
#nav-link span {
  font-size: 120%;
}

.nav-container {
  padding: 20px;
}

.blogpost-card {
  border-left: hsl(204, 86%, 53%) 3px solid;
}

.comment-card {
  border-left: hsl(171, 100%, 41%) 3px solid;
}

.create-card {
  border-left: hsl(48, 100%, 67%) 3px solid;
}
